apiVersion: v1
clusters:
- cluster:
    proxy-url: socks5://localhost:1080
    server: https://api.stxt-prd-1.gjl9.p3.openshiftapps.com:443
  name: stxt-prd-1
contexts:
- context:
    cluster: stxt-prd-1
    namespace: default
    user: openshift-login
  name: stxt-prd-1
current-context: stxt-prd-1
kind: Config
users:
- name: openshift-login
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1
      args: null
      command: openshift-login
      env:
      - name: OPENSHIFT_LOGIN_LOGLEVEL
        value: warn
      - name: HTTPS_PROXY
        value: socks5://localhost:1080
      - name: HTTP_PROXY
        value: socks5://localhost:1080
      - name: https_proxy
        value: socks5://localhost:1080
      - name: http_proxy
        value: socks5://localhost:1080
      interactiveMode: IfAvailable
      provideClusterInfo: true
